<div class="container">
  <div class="row">
    <div class="nav-wrapper logo">
      <h1>Todo List</h1>
    </div>
    <div><label class="form-text">Your task:</label>
      <div class="addTask">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="text"
          (keydown.enter)="addTask()"
        >
        <input
          type="date"
          class="form-control"
          [(ngModel)]="date"
          (keydown.enter)="addTask()"
        >
        <button
          (click)="addTask();"
          class="material-icons btnAdd"
          [disabled]="text==='' || date===''">
          add_circle
        </button>
      </div>
    </div>
    <div class="lists">
      <ul class="list-group " *ngFor="let task of todoLists; let i=index;">
        <li class="list-group-item lists" #done [class.is-done]="task.done">
          {{i + 1}}.{{task.id}} {{task.name}}-{{task.date | date: 'dd/MM/yyyy'}}
          <div>
           <span (click)="onDone(task.id)" class="material-icons done-icon">
            done
          </span> |
            <span (click)="onDelete(i)" class="material-icons delete-icon">
            highlight_off
          </span>
          </div>

        </li>
      </ul>
      <button (click)="onDeleteAll()" class="btn btn-danger" [disabled]="todoLists.length===0">Delete all tasks</button>
    </div>
  </div>
  <footer class="footer">
    <div class="card-footer">
      {{ config?.['date'] | date: 'yyyy' }} {{ config?.['footer'] }}
    </div>
  </footer>
</div>
